body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
body {
    background-color: darkgrey;
    background-image: url("../images/Curacao-BG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    opacity: 0.9;
}

* {
    padding: 10px;
    box-sizing: content-box;
}

/* Add padding to containers */
.container {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align-all: left;
}
.NavBar-links {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align-all: left;
}
.NavBar-links-button {
    background-color:#8fb399;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.NavBar-links-button:hover {
    background-color:#5cbf2a;
}
.NavBar-links-button:active {
    position:relative;
    top:1px;
}

.BodyButton {
    font-weight:bold;
    background-color:#8fb399;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0 1px 0 #2f6627;
    opacity: 1.0;
}
.BodyButton:hover {
    background-color:#5cbf2a;
}
.BodyButton:active {
    position:relative;
    top:1px;
}

.BodyContainer {
    background-color:#8fb399;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0 1px 0 #2f6627;
}
.BodyContainer:hover {
    background-color: #8ab873;
}
.BodyContainer:active {
    position:relative;
    top:1px;
}

form label {
    font-weight:bold
}


/* Add a blue text color to links */
a {
    color: dodgerblue;
}

.logincontainerw3-white{
    padding: 16px;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}